
@media  (max-width: 1400px) {
    .menudisplay{
     font-size: 14px;
    }

    .bulleting{
        font-size: 14px;
    }

    .leftSide{
        padding-bottom: 0;
    }

    .leftSideTemp{
        width: 150%;
    }
 
 }

 @media (min-width: 955px) and (max-width: 3000px){
    .allright{
        position: absolute;
        width: fit-content;
        height: fit-content;
        bottom: 1.9em;
        left: 7%;
    }

 }
 
 @media  (max-width: 1200px) {
    .menudisplay{
        font-size: 12px;
       }
   
       .bulleting{
           font-size: 12px;
       }

       .listedItem{
        padding-left: 4em;
       }

       .menudisplay h1{
        font-size: 3em;
        }

        .adddonedel{
            font-size: 14px;
        }
  
  }

  @media  (max-width: 1050px) {

    .menudisplay{
        font-size: 10px;
       }
   
       .bulleting{
           font-size: 10px;
       }

       .bulleting div{
        padding: 0.2em;
        scale: 0.8;
    }

    .todoSection{
        font-size: 14px;
    }

    .adddonedel{
        font-size: 10px;
    }

    .adddonedel button{
        font-size: 12px;
    }

 }


@media  (max-width: 955px) {
    
    section{
        padding: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .leftSide{
        width: 60%;
        height: fit-content;
    }

    .leftSideTemp{
        width: fit-content;
    }

    .rightSide{
        width: 80%;
        height: fit-content;
        font-size: 8px;
        margin-top: 1.2em;
        min-height: 450px;
    }

    .menudisplay{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.7em;

    }

    .menudisplay h1{
        font-size: 3.4em;
        padding-right: 0;
        text-align: center;
        }

    .title{
        margin-left: 0;
        font-style: normal;
        text-align: center;
        font-size: 1.8em;
    }

    .bulleting{
        align-items: center;
        font-size: 10px;
    }

    .bulleting div{
        padding: 0.2em;
        scale: 0.7;
    }

    .createTodoList{
        font-size: 1rem;
        height: fit-content;
        padding: 2em;
        flex-direction: column;
        gap: 1em;
        border-radius: 1em;
        min-width: 350px;
    }

    .ToDo{
        font-size: 2em;
    }


}

@media (min-width: 670px) {
    .listCol:hover{
        background-color: #026864;
    }
}

@media (max-width: 670px){
    
    .menudisplay h1{
        font-size: 3.2em;
        }

       .bulleting li{
        font-size: 2em;
       }

        .bulleting div{
            scale: 0.6;
        }

        .createTodoList{
            font-size: 14px;
            height: fit-content;
            padding: 2em;
            flex-direction: column;
            gap: 1em;
            border-radius: 1em;
            min-width: 300px;
        }

        .adddonedel{
            font-size: 8px;
        }

        .leftSideTemp{
            width: fit-content;
        }
        .ToDo{
            width: 100%;
            font-size: 1.5em;
        }


}

@media (max-width: 500px){

    .leftSide{
        min-width: 90%;
    }

    .leftSideTemp{
        width: fit-content;
    }

    .rightSide{
        font-size: 7px;
        min-width: 90%;
        padding: 3em 2em;
    }

    label{
        padding: 0.3em 0.7em;
        border-radius: 0.4em;
        font-size: 0.9em;
        font-weight: 500;
    }

    .ToDo{
        font-weight: 700;
        margin-bottom: 0.7em;
        font-size: 1.5em;
    }

    .createBTN{
        border-radius: 1.5em;
    } 

    .bulleting{
        align-items: center;
        font-size: 5px;
    }

    .createTodoList{
        font-size: 13px;
        min-width: 100%;
    }

    .adddonedel{
        display: flex;
        font-size: 10px;
        width: 100%;
        justify-self: center;
    }

    input:focus{
        border-bottom: 1px solid var(--Accent-color);
    }

    .adddonedel button{
        padding: 0.3em 1em 0.3em 1.6em;
        border-radius: 0.7em;
        color: black;
        flex-shrink: 1;
    }

    input[type ="checkbox"]{
        all: unset;
        padding: 1.5em;
        width: fit-content;
        height: fit-content;
        border-radius: 0.5em;
        border: 1px solid black;
    }

    input[type ="checkbox"]:checked{
        all: unset;
        padding: 0.6em 1em;
        background-color: black;
        border-radius: 0.5em;
        border: 1px solid var(--Primary-color);
    }

}

@media (max-width: 450px){
    
    .menudisplay h1{
        font-size: 2.8em;
        }

    .rightSide{
        font-size: 7px;
        width: 100%;
        padding: 3em 2em;
        margin-top: 1.2em;
    }

    #todowindow{
        margin: 0 auto;
        padding: 1.5em;
        font-size: 17px;
    }

    .mytitle{
        font-size: 1em;
    }

    .datentime{
        font-size: 17px;
    }

    #mydate{
        font-size: 0.8em;
        padding: 0.4em;
    }

    #mytime{
        font-size: 0.8em;
        padding: 0.4em;
    }

    .writethelist{
        font-size: 17px;
    }

    .bulleting{
        padding: 1em;
        font-size: 1em;
    }

    .leftSide{
        font-size: 11px;
        min-width: 90%;
    }


    .createBTN{
        border-radius: 1.5em;
    }

    .createDiv{
        border: none;
    }

    .actionBTN{
        font-size: 1em;
    }

    .ToDo{
        font-weight: 700;
        margin-bottom: 0.2em;
        font-size: 1.4em;
    }

    label{
        padding: 0.4em 0.8em;
        border-radius: 0.4em;
        font-size: 0.7em;
        font-weight: 600;
    }

    .title{
        font-style: italic;
        font-size: 1.1em;
        color: var(--Accent-color);
        margin-left: 0.2rem;
    }

    .createTodoList{
        font-size: 10px;
        min-width: 100%;
        padding: 2.5em;
    }

    .todoSection{
        font-size: 1em;
        height: 2em;
    }

    .todoSection p{
        font-size: 1em;
    }

    .todoSection input{
        font-size: 1em;
        padding: 0.2em 0.3em;
    }

    input:focus{
        border-bottom: 1px solid var(--Accent-color);
    }


    .adddonedel {
        font-size: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-self: center;
        width: 90%;
       /*  gap: 2em; */
    }

    .adddonedel button{
        flex: 1;
        padding: 0.5em 1em 0.5em 1.6em;
        border-radius: 0.7em;
        color: black;
    }

    .todo{
        font-size: 18px;
        margin-top: 0.4em;
    }


    .listCol p{
        width: 52%;
    }

    input[type ="checkbox"]{
        all: unset;
        padding: 1.5em;
        width: fit-content;
        height: fit-content;
        border-radius: 0.5em;
        border: 1px solid black;
    }

    input[type ="checkbox"]:checked{
        all: unset;
        padding: 0.6em 1em;
        background-color: black;
        border-radius: 0.5em;
        border: 1px solid var(--Primary-color);
    }

   
}


@media (max-width: 400px){
    
    .menudisplay h1{
        font-size: 2.8em;
        }

    .rightSide{
        font-size: 7px;
        width: 100%;
        padding: 3em 2em;
        margin-top: 1.2em;
    }

    #todowindow{
        margin: 0 auto;
        padding: 1.5em;
        font-size: 17px;
    }

    .mytitle{
        font-size: 1em;
    }

    .datentime{
        font-size: 17px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    #mydate{
        font-size: 0.8em;
        padding: 0.8em;
    }

    #mytime{
        font-size: 0.8em;
        padding: 0.8em;
    }

    .dateInputDiv{
       flex: 1;
    }

    .timeInputDiv{
        flex: 1;
    }

    .writethelist{
        font-size: 17px;
    }

    .bulleting{
        padding: 1em;
        font-size: 1em;
    }

    .leftSide{
        font-size: 11px;
        min-width: 90%;
        padding: 0;
    }


    .createBTN{
        border-radius: 1.5em;
        font-size: 1em;
    }

    .createDiv{
        font-size: 15px;
        border: none;
    }

    .actionBTN{
        font-size: 1em;
    }

    .ToDo{
        font-weight: 700;
        margin-bottom: 0.2em;
        font-size: 1.5em;
    }

    label{
        padding: 0.4em 0.8em;
        border-radius: 0.4em;
        font-size: 0.6em;
        font-weight: 600;
    }

    .title{
        font-style: italic;
        font-size: 1.1em;
        color: var(--Accent-color);
        margin-left: 0.2rem;
    }

    .createTodoList{
        font-size: 10px;
        min-width: 100%;
        padding: 2.5em;
    }

    .todoSection{
        font-size: 1em;
        height: 2em;
    }

    .todoSection p{
        font-size: 1em;
    }

    .todoSection input{
        font-size: 1em;
        padding: 0.2em 0.3em;
    }

    input:focus{
        border-bottom: 1px solid var(--Accent-color);
    }


    .adddonedel {
        font-size: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-self: center;
        width: 90%;
       /*  gap: 2em; */
    }

    .adddonedel button{
        flex: 1;
        padding: 0.5em 1em 0.5em 1.6em;
        border-radius: 0.7em;
        color: black;
    }

    .parentTodo{
        margin: 0 auto;
        min-width: 0;
        width: 100%;
        padding: 0;
    }

    .todo{
        font-size: 16px;
        margin-top: 0.1em;
        min-width: 0;
        width: 100%;
      
    }

    .listCol{
        margin: 0 auto;
        min-width: 0;
        width: 100%;
    }

    .listCol p{
        width: 52%;
    }

    input[type ="checkbox"]{
        all: unset;
        padding: 1.5em;
        width: fit-content;
        height: fit-content;
        border-radius: 0.5em;
        border: 1px solid black;
    }

    input[type ="checkbox"]:checked{
        all: unset;
        padding: 0.6em 1em;
        background-color: black;
        border-radius: 0.5em;
        border: 1px solid var(--Primary-color);
    }

    .status{
        font-size: 14px;
    }

   
}

